{% extends 'default.html' %}

{% block head %}
  <script type="module" src="/js/pages/home-page.js"></script>
  <link rel="stylesheet" href="/css/home-page.css">
{% endblock %}

{% block content %}

<h1>Material Web Additions</h1>
<div class="subtitle">The additional web component set for Material 3</div>
  <p>Material Web Additions is a collection of additional components to <a href="https://github.com/material-components/material-web">Material Web</a>
    components: Google’s UI toolkit for building beautiful, accessible web applications. Material Web &amp; Material Web
    Additions are implemented as a collection of <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">web components</a>.</p>

  <p><a href="https://m3.material.io/">Material 3</a> is the latest version of Google’s open-source design system.</p>
{% endblock %}
