@use "@material/layout-grid/mdc-layout-grid";

div.mdc-layout-grid {
    background: var(--mwc-layout-grid-background, none);
    border: var(--mwc-layout-grid-border, none);
    max-width: var(--mwc-layout-grid-max-width, none);
}

div.mdc-layout-grid__inner {
    min-height: var(--mwc-layout-grid-min-height, none);
    height: var(--mwc-layout-grid-height, none);
    max-height: var(--mwc-layout-grid-max-height, none);
}
