.demo-card {
  width: 344px;
}

.demo-card--with-custom-borders {
  --mdc-card-border-radius: 24px 8px;
}

.demo-card--with-custom-media-borders {
  --mdc-card-media-border-radius: 48px 8px 48px 8px/24px 4px 24px 4px;
}

.demo-card__header {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.demo-card-thumbnail {
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 50%;
  margin: 0 16px 0 0;
  align-self: center;
}

.demo-card__header-text {
  display: flex;
  flex-direction: column;
}

.demo-card__title,
.demo-card__subtitle,
.demo-card__secondary {
  font-family: Roboto, sans-serif;
}

.demo-card__title {
  font-size: 1.25rem !important;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: .0125em;
  color: rgba(0, 0, 0);
}

.demo-card__subtitle {
  font-size: .875rem !important;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .0178571429em;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: inherit;
  text-decoration-line: inherit;
  text-decoration-style: inherit;
  text-decoration-color: inherit;
}

.demo-card__secondary {
  font-size: .875rem !important;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  color:
          rgba(0, 0, 0, 0.54);
  text-decoration: inherit;
  text-transform: inherit;
  /* top margin adjusted for 16px of line-height, length to baseline 28px*/
  /* bottom margin adjusted for 2px of line-height, length to baseline */
  /* padding: 12px 16px 22px; */
  padding: 0 1rem 8px;
}

.demo-card--with-text-over-media .demo-card__secondary,
.demo-card--with-header .demo-card__secondary {
  padding-top: 1rem;
}

.demo-card--with-media-header .demo-card__header {
  padding: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.demo-card--with-media-header .demo-card__media {
  width: 110px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  --mdc-card-media-border-top-left-radius: 10px;
  --mdc-card-media-border-top-right-radius: 10px;
}

.demo-card--with-media-header .demo-card__header-text {
  padding: 1rem;
}

.demo-card__media {
  --mdc-card-media-background-image: url("https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg");
}

.demo-card__media-content .demo-card__title,
.demo-card__media-content .demo-card__subtitle {
  color: rgb(255, 255, 255);
}

.demo-card__media-content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.demo-crop-image {
  background-size: 200%;
}
