//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

/**
 * Tokens can be grabbed from here: https://github.com/material-components/material-web/blob/main/tokens/v0_192 or here: https://github.com/material-components/material-web/tree/e8b5b29d1eb18566126b77fcdc01c5f7f8899e25/tokens
 * And then updated per-component from the Material Design website.
 */

// go/keep-sorted start
@forward './md-comp-data-table' as md-comp-data-table-*;
@forward './md-comp-elevated-card' as md-comp-elevated-card-*;
@forward './md-comp-filled-card' as md-comp-filled-card-*;
@forward './md-comp-outlined-card' as md-comp-outlined-card-*;
@forward './md-comp-snackbar' as md-comp-snackbar-*;
// go/keep-sorted end
