//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use '@material/web/tokens/md-sys-color';
@use '@material/web/tokens/md-sys-elevation';
@use '@material/web/tokens/md-sys-shape';
@use '@material/web/tokens/md-sys-state';
@use '@material/web/tokens/v0_192/md-comp-outlined-card';
// go/keep-sorted end

$_default: (
  'md-sys-color': md-sys-color.values-light(),
  'md-sys-elevation': md-sys-elevation.values(),
  'md-sys-shape': md-sys-shape.values(),
  'md-sys-state': md-sys-state.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  @return md-comp-outlined-card.values($deps, $exclude-hardcoded-values);
}
