@use 'sass:map';
@use "@material/data-table/data-table";
@use "density";

@mixin styles() {
  @include data-table.core-styles;
  @include data-table.theme-baseline;

  :host {
    @extend .mdc-data-table__header-cell;

    display: table-cell;
    vertical-align: inherit;

    background-color: var(--_header-container-color);
    height: var(--_header-container-height);
    color: var(--_header-headline-color);

    font-family: var(--_header-headline-font);
    line-height: var(--_header-headline-line-height);
    font-size: var(--_header-headline-size);
    letter-spacing: var(--_header-headline-tracking);
    font-weight: var(--_header-headline-weight);

    border-bottom: var(--_row-item-outline-width) solid var(--_row-item-outline-color);
  }

  :host(:first-of-type) {
    border-top-left-radius: var(--_container-shape);
  }

  :host(:last-of-type) {
    border-top-right-radius: var(--_container-shape);
  }

  :host(:hover) {
    color: var(--_header-headline-hover-color);
  }

  :host([type="numeric"]) {
    @extend .mdc-data-table__header-cell--numeric;
  }

  :host([type="checkbox"]) {
    @extend .mdc-data-table__header-cell--checkbox;
    padding: 0 6px;
    width: 50px;
  }

  :host([sortable]) {
    @extend .mdc-data-table__header-cell--with-sort;

    md-icon-button {
      &:hover {
        --md-icon-button-unselected-icon-color: var(--_header-hover-sorting-icon-button-color);
      }

      &[hidden] {
        display: none;
      }
    }
  }

  :host([sorted]) {
    @extend .mdc-data-table__header-cell--sorted;
  }

  :host([sortedDescending]) {
    @extend .mdc-data-table__header-cell--sorted-descending;
  }

  :host([filterable]) {
    &:not([type="checkbox"]) {
      padding: 8px 16px;
    }

    .mdc-data-table__header-cell-filter-wrapper {
      flex-direction: column;
      display: flex;
      align-items: center;
      padding: 8px 0;
    }

    .mdc-data-table__header-cell-label {
      white-space: nowrap;
    }

    .mdc-data-table__header-cell-filter-textfield {
      width: fit-content;
    }
  }
}
