:first-child {
  border-right: none;
}

.mdc-drawer-app-content {
  color: var(--mdc-theme-text-primary-on-background);
  background-color: var(--mdc-theme-background);
}

.mdc-drawer {
  height: calc(100% - 64px);
}
