code:not(.raw) {
  line-height: 1;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 13px;
  border: 1px solid #ECF4F9;
  color: rgba(0, 0, 0, 0.85);
  background-color: #F7FAFC;
}

md-layout-grid md-outlined-card {
  width: 100%;
  height: 100%;
}

.component-card__header {
  display: flex;
  flex-direction: row;
  padding: 16px;
  width: 100%;
}

.components-card-header-title {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.components-card-header-title-text {
  font-family: Roboto, sans-serif !important;
  flex: 1;
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem !important;
}


.components-card-subtitle {
  font-family: Roboto, sans-serif !important;
  font-size: 0.875rem !important;
}

.components-card-status {
  font-family: Roboto, sans-serif !important;
}

pre {
  font-family: monospace;

  .token {
    font-family: monospace !important;
  }
}
