# Workflow name
name: 'Chromatic Publish'

# Event for the workflow
on: push

# List of jobs
jobs:
  test:
    # Operating System
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    # Job steps
    steps:
      - uses: actions/checkout@v1
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: ${{ !env.ACT && 'pnpm' || '' }}
      - name: Install dependencies
        run: pnpm install
      - name: Build components
        run: pnpm run build
      - name: Create custom elements manifest
        run: pnpm custom-elements-manifest
      - uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
