mwa-layout-grid mwa-card {
  width: 100%;
  height: 100%;
}

.component-card__header {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.components-card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.components-card-header-title {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.components-card-header-title-text {
  font-family: Roboto, sans-serif !important;
  flex: 1;
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem !important;
}

.components-card-subtitle {
  font-family: Roboto, sans-serif !important;
  font-size: 0.875rem !important;
}

.components-card-status {
  font-family: Roboto, sans-serif !important;
}
